*,*::after, *::before{
    margin: 1rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.btn {
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 1.5em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(6, 7, 45)
}


.site-title{
    font-size: 5rem;
    color: white;
    text-decoration: solid;
    font-weight: 300;
    font-weight: bold;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background: rgb(70, 181, 196);
}

.options{
    text-transform: uppercase;
    font-weight: bold;
}

.connect{
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

ul{
    
    display: flex;
    gap: 5rem;
}

.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .connect ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .connect ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .connect a,
  .connect button {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
  }
  
  .connect a:hover {
    text-decoration: underline;
  }

  .connect button{
    font-weight: bold;
  }


@media screen and (max-witdh: 768px){
    .nav__toggler{
        display: block;
    }
    .nav__menu{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: rgb(7, 50, 7);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

.nav li:active{
    background-color: #555;
}

.nav li:hover{
    background-color: #777;
}


