a:link {
  text-decoration: none;
  color: #122228;
}
a:visited {
  text-decoration: none;
  color: #122228;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
