.our_profile {
  width: 50%;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  margin: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 2rem !important;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color: #eee;
}

.our_title {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.our_container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.our_edit {
  font-size: 3rem;
  margin-top: 15px;
}

.our_message {
  color: red;
  font-style: bold;
}

label {
  margin-right: 16px;
  color: black;
}
